<div>
     [%~
        IF messages;
            FOREACH message IN messages;
                SET message_type = message.type    || 'info';
                SET message_msg = message.message || message;
                IF message_msg %]
        <div class="message [% message.type || 'info' %]">[% message.message %]</div>
                [% END;
            END;
        END;
        content
     %]
</div>

