<div class="split-page">
[%~

form( submit_label => c.loc('Login'), classes => [ 'hbox' ], sections => [ 'auth/login_form.tt' ] );
form( submit_label => c.loc('Register'), classes => [ 'hbox' ], sections => [ 'auth/register_form.tt' ] );

~%]
</div>
