<header>
[% IF c.user_exists %]
    It is [% now | date_long %] and you are logged in as [% c.user.get_object.name %].
[% ELSE %]
    It is [% now | date_long %], you are not logged in.
[% END %]
</header>
